body {
  font-family: 'Roboto', 'Raleway', sans-serif;
  font-size: 16px;
  color: #2e2f42;
  background-color: #fff;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* BASE */

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

/* title h2 */
.values-title,
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
}

/* HEADER */
.logo {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.header .logo .accent {
  color: #2e2f42;
}

.nav-list a {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.02em;
}

.address-list a {
  color: #434455;
  font-style: normal;
}

/* HERO */
.hero {
  background-color: #2e2f42;
}

.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;

  color: #fff;
}

.hero-button {
  background-color: #4d5ae5;
  color: #fff;
  font-size: 16px;
  line-height: 1.5;
}

/* Our Values */

.values-subtitle,
.team-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
}

.values-text,
.team-text {
  color: #434455;
}

/* Our TEAM */
.team {
  background-color: #f4f4fd;
}

/* PORTFOLIO */
